#ignore the opensdf file
#if the solution happens
#to be open
*.opensdf

#ignore the ipch folder
#since it's generated on
#each computer
ipch/

#ignore the debug folder
#since it's generated on
#each computer
*Debug/
*debug/

#ignore the Release
#folder since it's
#generated on each
#computer
*Release/
*release/

#ignore the Mailing List
#since that is secret
#information D:
MailingList.txt

#ignore the Binaries
#folder since it's only
#on EBrown8534's
#computer
Binaries/

#ignore the sdf file, it
#is rather troublesome
#anyway
*.sdf

#ignore the suo file, it
#is rather useless
*.suo
